.paginator {
  margin: 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.pageNumber {
  padding: 3px;
  border: 1px solid grey;
  cursor: pointer;
}

.pageNumber.selectedPage {
  font-weight: bold;
  border-color: black;
}
