.header {
  grid-area: h;
  background-color: rgba(40, 105, 40, 0.8);
  padding-left: 20px;
}

.header img {
  width: 70px;
  height: 100%;
  border-radius: 50%;
}
.loginBlock {
  float: right;
  padding: 15px;
}
.loginBlock a {
  color: #fff;
}
