.header {
  grid-area: h;

  padding-left: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.header img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  border-radius: 50%;
}

.loginBlockFlex {
  display: flex;
  align-items: center;
}
.loginBlock a {
  color: #fff;
}

.header button {
  margin-left: 10px;
}

.loginNik {
  color: #fff;
}
