.formControl.error input,
.formControl.error textarea {
  border: 1px solid red;
}
.error {
  color: red;
}
.formError {
  margin: 10px 0 10px 0;
  border: 1px solid red;
  color: red;
  padding: 5px;
  display: inline-block;
}
